html, body {
	background-color: #123524;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav {	
    left:75%; 
    position: sticky;
	width:20%; 
	padding:1%; 
	overflow:hidden; 
    background-color: #543925;
    color: #000;
    border-radius: 10px;
    border: solid #000;
    border-width: 2px;
}
nav ul li {
	list-style-type:none; 
	padding:0 0 0 10px;
    background-color: #A3795F;
    border-radius: 10px;
    width: auto;
    border: solid #000;
    border-width: 2px;
}
nav ul > li:hover  {
    background-color: #59785B;
}
nav ul > li:hover > a	{
     color: #59785B;
     color: #000;
}

nav > ul > li > ul > li {
    background-color: #A3795F;
    color:black;
}
nav > ul > li > a:active {
    background-color: #5d4536;
    color:black;
    border-radius: 10px;
}
  
nav > ul > li > ul > li:hover {
    background-color:#59785B;
    color: #000;
}
  
nav > ul > li > ul > li:hover a {
    color:#59785B;
    color: #000;
}
nav > ul > li > ul{
    margin: 0px;
    padding: 0px;
}
nav > ul > li > ul {
    display: none;
}
nav > ul > li:hover > ul {
    display: block;
    color: #000;
    padding-top: 5px;
}
footer { 
	height:50px;
	background:#000;
	color:#FFF;
	text-align:center;
	margin-top:10px;
	padding:5px;
}
header { 
	height:100px;	
	background: #543925; 
	margin: 0 0 10px 0; 
    border-radius: 10px;
    border: solid #000;
    border-width: 2px;
}
a {
	text-decoration: none;
    color: #000;
}
#content { 
	width:75%; 
	background: #A3795F; 
	float:left; 
	padding:1%; 
	overflow:hidden; 
    border-radius: 10px;
    border: solid #000;
    border-width: 2px;
}
#wrapper { 
	width:90%;
	overflow:hidden;
	margin:0 auto;
	min-height:calc(100% - 52px); 
	padding:1%; 
}
h1 {
    text-align: center;
    font-size:50px;    
}
table.utwory {
    border: 1px solid #000000;
    width: 650px;
    text-align: center;
    border-collapse: collapse;
}
table.utwory td, table.utwory th {
    border: 1px solid #000;
    padding: 3px 2px;
}
.wykonawca-obraz{
    width: 40%;
    height: auto;
}
.column {
    float: left;
    width: 40%;
    height: auto;
    padding: 10px;
}
  
.column:hover {
    opacity: 80%;
    cursor: pointer;
}

table.info {
    border: 1px solid #000000;
    width: 300px;
    text-align: center;
    border-collapse: collapse;
}
table.info td, table.info th {
    border: 1px solid #000;
    padding: 3px 2px;
}
div.info {
    display: inline-block;
}
#vector{
    fill: #59785B;
    stroke:black;
    stroke-width:5;
    animation-name: vektor;
    animation-duration: 10s;
}
#scroll{
    width: auto;
    height:1000px;
}
#tagg {
    width: auto;
    height: 100px;
    transition: width 2s, height 2s;
}
  
#tagg:hover {
    width: auto;
    height: 400px;
}
  
@keyframes vektor {
    0%{fill: #59785B;}
    25%{fill: #543925;}
    50%{fill:aquamarine;}
    75%{fill:blueviolet;}
    100%{fill: #59785B;}
}
@media only screen and (max-width: 900px) {
    nav {width:88%; position:absolute; height:60px; left: 5%;}
    nav ul li {display: inline; }
    #content {width: 98%; position:relative; top: 20px; margin-top:9%;height: auto;}
    #table1{display:none;}
    #placeholder{height: 100px;}
    table.utwory{width: auto;}
 }
 form{
    padding-top: 30px;
 }
 p::first-letter{
    text-transform: uppercase;
 }