@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face {
    font-family: LogoFont;
    src: url(fonty/BABYCAKES.ttf);
}
@font-face {
    font-family: CakeFont;
    src: url(fonty/Cakecafe.ttf);
}

@font-face {
    font-family: CoffeeFont;
    src: url(fonty/CoffeCake.ttf);
}

@font-face {
    font-family: caveat;
    src: url(fonty/caveat.ttf);
}

:root {
    --indian-red: #c76972ff;
    --ral: #d8a0a6ff;
    --vanilla: #f4e3b2ff;
    --hunter-green: #346732ff;
    --indigo-dye: #003d5bff;
    --navbar-height: 100px;
}

html, body {
    color: #000;
    font-family: Caveat, serif;
    font-size: 145%;
    margin: 0;
    padding: 0;
}
footer { 
    height:50px;
    background:#000;
    color:#FFF;
    text-align:center;
    margin-top:10px;
    padding:5px;
    bottom: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: #000;
}


#wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: LogoFont, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    align-content: center;
    vertical-align: center;
}
#content {
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 1000px;
    margin: 0;
    position: static;
}

#nav-items {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#nav-items li {
    padding: 1%;
    margin: 0 1%;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--ral);
    opacity: 0;
    transition: opacity 0.3s;
}

nav a:hover {
    color: var(--ral);
}

nav a:hover::after {
    opacity: 1;
}

#nav-logo {
    height: calc(var(--navbar-height) - 20px);
    width: auto;
    margin-top: -20px;
}
#banner-1{
    background-image: url(img/temp_background.jpg);
    background-position: center;
    background-size: 20%;
    width: 100%;
    height: 800px;
    left: 0;
}
.container{
    height: auto;
    width: 100%;

}

/*
@media only screen and (max-width: 768px) {
    body {
        font-size: 50%;
    }

    nav ul {
        padding-right: 0%;
    }

    #nav-logo {
        height: 60px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 80%;
    }

    nav ul {
        padding-right: 5%;
    }
}
*/

@media screen and (max-width: 768px) {
    #nav-items {
        display: none;
    }

    #nav-logo-wrapper {
        width: 100%;
        text-align: center;
    }

    #nav-logo a {
        display: block;
    }

    #nav-items li {
        display: block;
        margin: 10px 0;
    }
}